body{
    background-color: rgba(252,239,222,255);
    text-align: center;
}

#pasta-div{
    text-align: center;  
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    
}

#last-div{
    border: 2px solid black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

ul{
    list-style-type: none;
}
li{
    list-style-type: none;
}
